* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Orbit',
    sans-serif;
  background-color: #1a2b33;
}

section {
  margin-bottom: 50px;
}

section h1 {
  font-size: 40px;
  color: #f0b336;
}

#board {
  height: 300px;
  width: 300px;
  background-color: #1a2b33;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #1a2b33;
  cursor: pointer;

}

#message {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #1a2b33;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid #f0b336;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before,
.cross::after {
  content: '';
  position: absolute;
  background-color: #42c0bb;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

button {
  margin-top: 20px;
  padding: 10px 10px;
  font-family: 'Orbit',
    sans-serif;
  color: #fff;
  background-color: #42c0bb;
  border-radius: 5px;

}